<h1 class="jumbotron" style="text-align: right; background-color: lightgreen; padding: 0">Welcome to Flashcards!</h1>
<h4 style="text-align: center"><%= current_user.username.capitalize %>'s Decks</h4>


<div class="well" style="background-color: lightyellow">

	<div class="row">

	<% @decks.each do |deck| %>
	<% if deck.user_id == current_user.id %>
		<div class="col-md-3">
			<div class="well">
			<strong>Deck Name: <%= deck.deck_name %></strong> <br/>
			<%= link_to 'Show Cards', cardsbydeck_path(deck_id: deck.id) %><br/>
			<%= link_to 'Add Card', new_card_path(deck_id: deck.id) %>
			</div>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>


<div class="panel-footer">
<h4>Create a new deck:</h4>
<%= link_to 'New Deck', new_deck_path %>
</div>





